# Ananya Singh

## Research question/interests

Football has always been around me in one way or the other and through this project, I have gotten the chance to discover statistical relationships between the football data from the Premier League to see if there are any correlations or predictability or if it is just a game of luck. Since there are multiple variables in our dataset (G, XG, A, XA, etc), each of us will focus on a set of variables by cleaning the data as necessary and explore the analysis among them before coming together for a final conclusion on the overall efficiency of the player. **I am going to be working with the variables G and XG to see how closely related these variables are with each other.**

## Load your dataset

In [ ]:
import pandas as pd 
df = pd.read_csv('../data/raw/Premier_League_players.csv')
df

,№,Player,Team,Apps,Min,G,A,xG,xA,xG90,xA90
0,1,Son Heung-Min,Tottenham,35,3051,23,7,16.99-6.01,7.85+0.85,0.50,0.23
1,2,Mohamed Salah,Liverpool,35,2757,23,13,24.36+1.36,9.79-3.21,0.80,0.32
2,3,Cristiano Ronaldo,Manchester United,30,2468,18,3,17.21-0.79,4.42+1.42,0.63,0.16
3,4,Harry Kane,Tottenham,37,3229,17,9,20.69+3.69,9.82+0.82,0.58,0.27
4,5,Sadio Mané,Liverpool,34,2833,16,2,16.83+0.83,5.27+3.27,0.53,0.17
...,...,...,...,...,...,...,...,...,...,...,...
532,533,Chiquinho,Wolverhampton Wanderers,8,191,0,3,0.56+0.56,1.09-1.91,0.26,0.51
533,534,Josh Dasilva,Brentford,9,242,0,0,0.10+0.10,0.18+0.18,0.04,0.07
534,535,Daniel Chesters,West Ham,1,1,0,0,0,0,0.00,0.00
535,536,Tony Springett,Norwich,3,138,0,0,0.52+0.52,0.51+0.51,0.34,0.34
536,537,Alejandro Garnacho,Manchester United,2,11,0,0,0,0,0.00,0.00